<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML PAGE OF DJANGO</title>
  </head>
  <body style="background-color: black">
    <center>
      <h1 style="color: orange">This is the html page of my django project</h1>
      <h1 style="color: white">
        Render function is used to render html pages on browser
      </h1>
      <h1 style="color: green">
        Render is a process of interacting with templates and extracting
        specified html pages and takes it to function
      </h1>
    </center>
  </body>
</html>
